* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;

}
h1, h2, h3 {

}

.button {
    background-color: #ffffff;
    color: #494949;
    text-decoration: none;
    border: #494949 1px solid;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 10px;
}
.button:active {
    background-color: #494949;
    color: #ffffff;
    border: #ffffff 1px solid;
    
}
.score-area {
    margin: 0 auto;
    width:280px;
    display: flex;
    justify-content: space-evenly;
}
.score-area div {
    padding: 10px;
}
.score-area, .score p {
    text-transform: uppercase;
    text-align: center;
}
.score p {
    font-size: 0.5rem;
    font-weight: 200;
}
.score  {
    font-size: 1rem;
    font-weight: 800;
}
.game-area {
    height: 50vh;
    width: 280px;
    margin: 10px auto;
    background-color: #ece1f6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.player-area {
    border: 1px solid #ff0000;
}

.computer-area {
    border: 1px solid #00ff5e;
}

@media screen and (min-width: 576px) {
    .game-area {
        width: 80%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: stretch;
    }
}